<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat Room</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="welcome-message">
        <p>Welcome, {{session['username']}}!</p>
    </div>
  <div class="logout-button">
    <button id="logout-btn" onclick="location.href='/logout'" type="button">Logout</button>
  </div>
  <div class="home-button">
    <button id="home-btn" onclick="location.href='/news'" type="button">News</button>
  </div>
      <div class="home-button1">
    <button id="weather-btn" onclick="location.href='/weather'" type="button">Weather</button>
  </div>

 <div class="home-button2">
    <button id="game-btn" onclick="location.href='/game'" target="_blank" type="button">Game</button>
  </div>
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-bug"></i> Chatroom <i class="fas fa-bug"></i>
      </div>
    </header>

    <main class="msger-chat" id="message-container">
      <!-- Existing messages will be displayed here -->
    </main>

    <form class="msger-inputarea" id="message-form">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <input type="file" id="fileInput" class="msger-input-file" style="width: 30%;">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>

  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>
    const msgerInput = document.getElementById("textInput");
    const fileInput = document.getElementById("fileInput");
    const messageForm = document.getElementById("message-form");
    const messageContainer = document.getElementById("message-container");
    const socket = io.connect('http://' + document.domain + ':' + location.port, { transports: ['websocket', 'polling'] });
    const PERSON_IMG = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS10PKiP_JgIwAEgEN0iQjXUcx0HfCFmuB-rRDZQkj-0GxtZgb7hZmX9Ks4HEAAgY0832w&usqp=CAU";


    messageForm.addEventListener("submit", (event) => {
      event.preventDefault();

      const msgText = msgerInput.value;
      const file = fileInput.files[0];

      if (file) {
        socket.emit("user_message", { text: msgText, file: file, fileName: file.name });
        msgerInput.value = "";
        fileInput.value = "";
      }

      if (msgText) {
        socket.emit("user_message", { text: msgText, file: file });
        msgerInput.value = "";
        fileInput.value = "";
      }
    });

  socket.on("bot_response", function (data) {
      const name = data.user_id === socket.id ? "You" : data.sender_name;
      const side = data.user_id === socket.id ? "right" : "left";

      if (data.text) {
          appendMessage(name, PERSON_IMG, side, data.text);
      }

      if (data.file) {
          appendMessage(name, PERSON_IMG, side, `<a href="${data.file}" target="_blank">${data.fileName}</a>`);
      }
  });

    function appendMessage(name, img, side, content) {
      const msgHTML = `
        <div class="msg ${side}-msg">
          <div class="msg-img" style="background-image: url(${img})"></div>
          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">${name}</div>
              <div class="msg-info-time">${formatDate(new Date())}</div>
            </div>
            <div class="msg-text">${content}</div>
          </div>
        </div>
      `;

      messageContainer.insertAdjacentHTML("beforeend", msgHTML);
      messageContainer.scrollTop += 500;
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();
      return `${h.slice(-2)}:${m.slice(-2)}`;
    }
  </script>
</body>

</html>
